*{ margin: 0; padding: 0; }

header{
    width: 100%;
    height: 100vh;
	background-image: linear-gradient(to left, grey 100%, c3f5ff 20% );

}


 .navbar{
    width: 100%; height: 20vh; background-color: aquamarine;
	display: flex; justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(to left, grey 100%, c3f5ff 20% );
}
nav{
	flex: 1;
	text-align: 20px;
}
nav ul{
	display: flex;
	align-items: center;
	padding: 20px;
}
.logo{
      width: 40%;
	  color: #fff;
	  background-image: linear linear-gradient(#8d98e3, 40% #854fee 60%);
	  padding-left: 100px;
	  box-sizing: border-box;
}

.logo h1{
    text-transform: uppercase;
	font-size: 1.6rem;
	animation: uparniche 2s linear infinite;
